.nav-link {
  text-transform: uppercase !important;
  font-size: 0.9rem !important;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
  color: #000 !important;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.nav-link:hover:not(.resumeLink) {
  color: #2b6cb0 !important;
  text-decoration: none;
  outline: none;
  background-color: #e2e8f0;
}
.nav-down {
  transition: top 0.1s ease-in !important;
}
#main header .logo .symbol img {
  display: block;
  width: 15em;
}

.short-name,
.short-options {
  display: none;
}
@media (max-width: 992px) {
  .short-name,
  .short-options {
    display: block;
  }
  .full-name,
  .full-options {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-buttons {
    display: none;
  }
}
