@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

body,
input,
select,
textarea {
  color: #585858;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.75;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 14pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

a:hover {
  border-bottom-color: transparent;
  color: #f2849e !important;
}

strong,
b {
  font-weight: 900;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1em 0;
  letter-spacing: -0.035em;
}

h1 a {
  color: inherit;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.75em;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 2em 0;
  text-transform: uppercase;
  letter-spacing: 0.35em;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.8em;
}

@media screen and (max-width: 980px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
  }
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1em 0;
  letter-spacing: -0.035em;
}
header p {
  margin-top: -1em;
}
p {
  margin: 0 0 2em 0;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.hover {
  animation: float 6s ease-in-out infinite;
}

.image {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

#main {
  padding: 0em 0 6em 0;
}

#main header .logo .hero img {
  display: block;
  width: 300px;
  border-radius: 1%;
}
