@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #2d3748;
  line-height: 1.5;
  font-size: 1.2em;

  background: #f7fafc;
  transition-property: background-color;
  transition-duration: 200ms;
  line-height: 1.5;
  font-size: 1.2em;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.hover {
  animation: float 6s ease-in-out infinite;
}

.image {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

#main {
  padding: 0em 0 6em 0;
}

#main header .logo .hero img {
  display: block;

  border-radius: 100%;
  width: auto;
  height: 60px;
}

.section {
  padding: 0em 3em 6em 3em;
}
::-webkit-scrollbar-thumb {
  background-color: #bcc3c8;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}

h1 span {
  display: inline-block;
  position: relative;
}
h1 span:after {
  border-bottom: 1px solid #e2e8f0;
  display: block;
  background: #e2e8f0;
  content: " ";

  height: 1px;
}
h2 span {
  display: inline-block;
  position: relative;
}
h2 span:after {
  border-bottom: 1px solid #e2e8f0;
  display: block;
  background: #e2e8f0;
  content: " ";

  height: 1px;
}
