.nav-link {
  padding: 20px 15px !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
  color: #000 !important;
}
.nav-up {
  top: -50px !important;
  transition: top 0.2s ease-out !important;
  position: sticky !important;
}
.navbar.solid {
  background-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 0 4px grey !important;
}
.header-navigation {
  height: 50px;
  position: sticky;
  top: 0;

  z-index: 999;
}
a:hover {
  color: #f44336 !important;
  text-decoration: none;
  outline: none;
}
.nav-down {
  transition: top 0.1s ease-in !important;
}
