@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(243 244 246 / 1);
}

::-webkit-scrollbar-thumb {
  background-color: #bcc3c8;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 5px;
}
