@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;

  --dot-bg: #f9f9f1;
  --dot-color: black;
  --dot-size: 1px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

::-webkit-scrollbar-thumb {
  background-color: #bcc3c8;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 5px;
}

.normal-text {
  color: #696565;
}

.text-moma {
  font-family: "Moma", sans-serif;
  color: #f9f9f1;
}
